@import "../../global.scss";

.about-section {
  margin-top: 186px;
  width: 1440px;
  height: 467px;
  left: 0px;
  top: 989px;
  display: flex;
  flex-grow: 1;

  background: linear-gradient(
    90.07deg,
    rgba(30, 42, 93, 0.04) 30.91%,
    rgba(48, 62, 130, 0.04) 64.79%,
    rgba(60, 80, 157, 0.04) 91.94%
  );

  @include mobile {
    margin-top: 0;
    width: 100%;
    height: 516px;
  }

  .img-container {
    @include mobile {
      display: none;
      width: 0;
    }

    .img-section {
      width: 384px;
      height: 468px;
      margin-left: 205px;
      @include mobile {
        display: none;
        width: 0%;
      }
      background-image: url("https://raw.githubusercontent.com/trial-pyth/git-tutorial/master/img/svg/aboutus.png");
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-left: 200px;

    @include mobile {
      margin-left: 0;
    }

    .about-title {
      // position: absolute;
      margin-top: 107px;
      margin-bottom: 27.41px;
      width: 422px;
      height: 26px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 45px;
      line-height: 27px;
      right: 229px;

      @include mobile {
        margin: 140px 128px 21px 127px;
        width: 120px;
        height: 35px;
        // margin: 127px 140p 128px 21px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 35px;
        /* identical to box height, or 135% */

        text-align: center;
      }
      /* or 60% */

      /* primary */

      color: #0e2368;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .about-content {
      // position: absolute;
      width: 447px;
      height: 138px;
      margin-right: 204px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 24.59px;
      /* or 180% */

      /* body */

      color: #444957;

      /* Inside auto layout */

      flex: none;
      order: 1;
      flex-grow: 0;

      @include mobile {
        width: 275px;
        height: 138px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 21px;
        /* or 191% */
        margin: 0px 50px 16px 50px;
        text-align: center;

        /* body */

        color: #444957;
      }
    }

    button {
      // position: absolute;
      bottom: 105px;
      right: 519px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 3px 26px;
      gap: 10px;
      border: none;
      color: #ffffff;
      width: 132px;
      height: 42px;

      background: #e23744;
      border-radius: 21px;
      cursor: pointer;
      /* Inside auto layout */

      flex: none;
      order: 1;
      flex-grow: 0;

      @include mobile {
        margin: 0 auto;
      }

      span {
        width: 80px;
        height: 36px;

        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 36px;
        /* identical to box height, or 225% */

        letter-spacing: 0.03em;

        color: #ffffff;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        @include mobile {
          width: 53px;
          height: 46px;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 46px;
          /* identical to box height, or 418% */

          letter-spacing: 0.03em;

          color: #ffffff;
        }
      }
    }
  }
}
