@import "./global.scss";

:root {
  width: 1440px;
  overflow-x: hidden;

  @include mobile {
    width: 375px;
    overflow-x: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  @include mobile {
    width: 375px;
    overflow-x: hidden;
  }
}
